/* mobile sidebar */
.sidebar{
    display: none;
}

#wrapper{
    background-color: #2d7254 !important;
    /* background-color:#0E284C; */
}

#container{
    background-color: #FFF0AA !important;

}

#header{
    background-color: #FFF0AA !important;

}

#contactInfo{
    padding:5px 0 5px 25px;
}

img {
    max-width:100%;
    max-height: 260px;
}

.sidebar {
    padding: 15px 5px 0 15px;
    font-size: 15px;
}
.sticky {
    position: fixed;
    top: 0px;
    padding-top: 13px;
    padding-right: 5px;
}
.stickyNav{
    position:fixed;
    top: 0px;
}

h1 {
    font-size: 0.5em; /* 40px/16=2.5em */
}

h2 {
    font-size: 0.875em; /* 30px/16=1.875em */
}

#content{
    background-color: white !important;
    padding-top: 15px;
}

#contentRight{
    padding-left: 10px;
}

.description{
    padding: 15px 35px 15px 15px;
}

@media screen and (min-width: 576px){
    .sidebar{
        display:block;
    }
}